.pcontainer {
    width: 100%;
}

body {
    background-color: #fcf9f9;
}

.navbar img {
    width: 115px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    text-decoration: none;
    color: black;
    opacity: 85%;
    font-weight: 100;
}

#greybutton {
    color: antiquewhite;
    background-color: black;
    padding: 8px 18px;
    border-radius: 20px;
}

#EN {
    background-color: #e6e1e1;
    border-radius: 10px;
    padding: 5px 7px;
}

.navtext {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.container {
    background-color: #f4f4f4;
    display: flex;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    font-family: sans-serif;
}

.words {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 110px;
}

.words h1 {
    font-size: 48px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
}

.words h2 {
    font-weight: 100;
    opacity: 95%;
}

.learnmore {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.learnmore img {
    border: 2px solid black;
    padding: 8px 8px;
    border-radius: 33px;
    /* filter: invert(1); */
}

.learnmore button {
    text-decoration: none;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: lighter;
    opacity: 90%;
    text-transform: uppercase;
}

.imagecontainer {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 5rem;
}

.mainimage {
    width: 60%;
    margin-top: 5rem;
}

.color {
    width: 42%;
    position: absolute;
    margin-top: 8rem;
    left: 25rem;
}

.textimage {
    width: 29%;
    position: absolute;
    margin-top: 9rem;
    margin-right: 24rem;
}

.mobileimage {
    width: 19%;
    height: 81%;
    position: absolute;
    margin-left: 601px;
    margin-top: 115px;
}


.codeimage {
    width: 24%;
    position: absolute;
    top: 76%;
    left: 21rem;
    opacity: 55%;
}

.codingimage {
    width: 10%;
    height: 28%;
    position: absolute;
    top: 18rem;
    left: 22rem;
}

.arrowimage {
    width: 5%;
    position: absolute;
    margin-top: 9rem;
    margin-left: 13rem;
}

.codingsignimage {
    position: absolute;
    width: 9%;
    top: 24rem;
    left: 51rem;
}

.container2 {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 52px;
}

.circleimage {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    aspect-ratio: 1;
}

.circlewords {
    display: flex;
    flex-direction: column;
    font-family: Raleway, sans-serif;
}

.circlewords h1 {
    font-size: 50px;
    font-weight: 500;
}

.circlewords p {
    margin-top: 0px;
    font-size: 25px;
    opacity: 80%;
}

.circlewords p span {
    color: green;
}

.readmore {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.readmore img {
    border: 2px solid black;
    padding: 8px 8px;
    border-radius: 33px;
}

.readmore button {
    text-decoration: none;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: lighter;
    opacity: 90%;
    text-transform: uppercase;
}

.container3 {
    display: flex;
    flex-direction: column;
    width: auto;
}

.container3 h1 {
    font-size: 50px;
    font-family: sans-serif;
    display: flex;
    margin-top: 50px;
    font-weight: 400;
}

.boxes {
    display: flex;
    border: 2px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: scroll;
    width: auto;
}

.box {
    border: 1px solid #e2dddd;
    width: auto;
    padding: 60px 19px 60px 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Raleway, sans-serif;
    margin: 4px;

}

.box img {
    width: 68px;
    filter: invert(28%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
    opacity: 70%;
    margin-bottom: 8px;
}

.box h2 {
    font-size: 33px;
    font-weight: 550;
    opacity: 95%;
    margin-bottom: 0px;
}

.box p {
    font-size: 21px;
    opacity: 95%;
}

.box:hover {
    background-color: #2eca67;
    color: #f7f4f4;
}

.container4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.techpara {
    width: 45%;
    font-family: sans-serif;
}

.techpara h1 {
    font-size: 44px;
    margin-left: -7px;
}

.techpara p {
    font-size: 20px;
    opacity: 80%;

}

.logobox {
    display: flex;
    /* border: 2px solid black; */
    width: 40%;
    /* height: 40%; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 150px;

}

.logobox img {
    width: 60px;
    border: 1px solid rgb(156, 153, 153);
    padding: 20px 20px 20px 20px;
}

.ourwork {
    font-size: 50px;
    font-family: sans-serif;
    margin-left: 77px;
    margin-top: 8rem;
    margin-bottom: 2rem;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.card {
    text-align: left;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: 26%;
    background-color: #edeaea;
    height: auto;
}

.images {
    display: flex;
    justify-content: center;
}

.images img {
    width: 170px;
    margin-top: 30px;
}

.text {
    font-family: sans-serif;
}

.text h2 {
    font-size: 32px;
}

.text p {
    font-size: 17px;
    opacity: 74%;

}

.lasttext {
    display: flex;
    justify-content: right;
    align-items: end;
    font-size: 17px;
}

.container5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 52px;
    gap: 10%;
    height: 100%;

}

.paragraph {
    width: 42%;
    font-family: sans-serif;
}

.paragraph h1 {
    font-size: 41px;
}

.paragraph h4 {
    font-size: 19px;
    font-weight: 100;
    opacity: 75%;
}

#green {
    color: #2eca67;
}

.rboxes {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 45%;
    overflow: scroll;
    height: 100vh;
}

.rbox {
    /* width: 62%; */
    font-family: sans-serif;
    font-size: 18px;
    opacity: 70%;
    background-color: #edeaea;
    margin: 10px;
    padding: 33px;
}

.lastcontainer {
    background: #010101;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lastbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 60vw;
    border-radius: 10px;
    align-items: center;
    background: #2c8f3b;
    color: #f4f4f4;
    margin-top: 45px;
    font-family: sans-serif;
}

.lastbox h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 0px;
}

.lastbox p {
    font-size: 16px;
    font-weight: 100;
}

.lastbox button {
    padding: 6px 13px 6px 13px;
    font-size: 20px;
    border-radius: 24px;
    border: none;
}

.lastbox button:hover {
    cursor: pointer;
    background: #2eca67;
}

.copyright img {
    width: 200px;
    filter: invert(25%) sepia(100%) saturate(1169%) hue-rotate(101deg) brightness(110%) contrast(75%);
    margin-bottom: 20px;

}

.copyright p {
    color: #f4f4f4;
    opacity: 90%;
}

.copyright {
    margin-left: 115px;
}

.footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 6rem;
    font-family: sans-serif;
    gap: 286px;
    margin-bottom: 4rem;
}

.links {
    display: flex;
    flex-direction: column;
}

.links p {
    color: #f4f4f4;
    font-size: 22px;
}

.links a {
    text-decoration: none;
    color: #f4f4f4;
    margin: 7px;
}

.services {
    display: flex;
    flex-direction: column;
}

.services p {
    color: #f4f4f4;
    font-size: 22px;
}

.services a {
    text-decoration: none;
    color: #f4f4f4;
    margin: 7px;
}

.links a:hover {
    color: #2eca67;
}

.services a:hover {
    color: #2eca67;
}



/* @media screen and (max-width:1000px) {

    .navbar {
        width: 100%;
        justify-content: space-between;
        display: flex;
        gap: 25px;
    }

    .navtext {
        font-size: 8px;
        gap: 8px;
    }

    .container {
        width: 100%;
    }

    .words {
        width: 100%;
        margin-top: 60px;
    }

    .words h1 {
        font-size: 37px;
        font-weight: bold;
    }

    .imagecontainer {
        width: 150%;
    }

    .color {
        top: -2rem;
        left: 10rem;
    }

    .textimage {
        bottom: 136px;
        left: 129px;
    }

    .mobileimage {
        right: 115px;
        height: 185px;
        bottom: 8px;
    }

    .codeimage {
        left: 128px;
        top: 226px
    }

    .codingimage {
        top: 145px;
        left: 135px;
    }

    .codingsignimage {
        left: 53%;
        top: 65%;
    }

    .arrowimage {
        left: 84px;
        bottom: 154px;
    }
} */